body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
  }
  /*Navigation ra placement*/
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 20px;
    box-shadow: 0 0px 10px rgba(36, 33, 33, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
   
  }
  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .nav-icon {
    height: 40px;
    width: auto;
    cursor: pointer;
    padding-top: 40px;
    transition: all 0.4s;
  }
  .center-logo {
    height: 70px;
    width: auto;
    cursor: pointer;
    padding-top:110px;
    transition: all 0.5s;
  }
  .menu {
    font-size: 36px;
    color: #000;
    text-decoration: none;
    transition: 0.4s;
    padding-top: 42px;
  }
  
  
  .transparent {
    background-color: transparent ;
    box-shadow: none ;
  }
  /*nav ko menu ko lai*/
  .menudrop{
  white-space: nowrap;
  z-index: 3;
  width: 0px;
  height: 100%;
  position: fixed;
  background-color: #fcfcfc;
  overflow: hidden;
  top: 0;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 0px 10px rgba(36, 33, 33, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  }
  .menudrop a {
    padding:8px 40px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  .menudrop a:hover {
    color: #ff0000;
  }
  
  .menudrop .closemenu {
    position: absolute;
    top:0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
  }
  /*scroll changes ko*/
  .scrolled {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    transition: all 0.5s;
  }
  nav.scrolled .menu {
    font-size: 36px; 
    padding:0px;
    transition:0.4s;
  }

  nav.scrolled .nav-icon {
    height: 40px;
    padding-top: 0px; 
    transition: 0.4s;
  }
  nav.scrolled .center-logo {
    height: 50px; 
    padding-top: 0px;
    transition:0.4s;
  }
  

  
  